<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<div class = 'header'>
		<h1> Edit Restaurant </h1>
	</div>
	<form action="{{ url_for('editRestaurant',restaurant_id = restaurant.id)}}" method = 'post'>
		<div class="el">
			<label for="name">Name:</label>
			<input type ='text' name='name' width="100%" placeholder = '{{restaurant.name }}'>
			<div class="editdeletepane">
				<input type='submit' value='Edit' class="editdelete">
				<a href = '{{url_for('showRestaurants')}}' class="editdelete"> Cancel </a>
			</div><!--editdeletepane-->
		</div><!--el-->
	</form>

</body>

</html>
